@model PatientsWebApplication.Models.Visit

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Visit</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="VisitID" />
            <div class="form-group">
                <label asp-for="PatientID" class="control-label"></label>
                @Html.DropDownListFor(m => m.PatientID,
                   new SelectList(
                    ViewBag.PatientsItemsList, "Value", "Text"),
                    new { @class = "form-control" })
                <span asp-validation-for="PatientID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DoctorID" class="control-label"></label>
                @Html.DropDownListFor(m => m.DoctorID,
                  new SelectList(
                   ViewBag.DoctorsItemsList, "Value", "Text"),
                   new { @class = "form-control" })
                <span asp-validation-for="DoctorID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="VisitDateTime" class="control-label"></label>
                <input asp-for="VisitDateTime" class="form-control" />
                <span asp-validation-for="VisitDateTime" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DiagnosisID" class="control-label"></label>
                <select asp-for="DiagnosisID" class="form-control" asp-items="ViewBag.DiagnosisID"></select>
                <span asp-validation-for="DiagnosisID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
